<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>first Name</th>
            <th>last Name</th>
            <th>email ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees"> <!-- *ngFor is a directive -->
           <td> {{ employee.firstName }}</td> <!-- {{ }} is an expression --> <!-- display firtName of the employee object -->
            <td> {{ employee.lastName }}</td> 
            <td> {{ employee.emailId }}</td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class="btn btn-info">Update</button>
                <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click) = "employeeDetails(employee.id)" class="btn btn-success" style="margin-left: 20px;">View</button>
            </td>

        </tr>
    </tbody>
</table>
